.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/
x64/
x86/

project.lock.json
*.genruntimeconfig

packages/
*.nupkg
*.snupkg

TestResults/

.idea/

.vscode/

Thumbs.db
desktop.ini