.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/
x64/
x86/

project.lock.json
*.genruntimeconfig
packages/
*.nupkg
*.snupkg

.idea/
.vscode/
*.DotSettings.user

Thumbs.db
desktop.ini
.DS_Store

appsettings.Development.json

node_modules/
dist/
.env
.env.local
.env.development
.env.production

*.log
logs/